/*ITIS 3135 Activity 4 css file*/
/*Isaac Altice */
/*styling for the whole page goes here*/
address{
    background-color: lightgreen;
}
.header, .footer{
    background-color: lightgreen;
}
img{
    width: 100%;
    height: auto;
}
ul{
    list-style-type: square;
}